@supports (font-variation-settings: initial) {
  @font-face {
      font-display: block;
      font-family: "AdapterMonoVF";
      font-weight: 100 900;
      font-style: normal;
      src: url("https://universalspecimen.rosettatype.com/ui-fonts/AdapterMonoPEVF-All.woff2") format("woff2");
  }
}


/* General */

html, body {
  background: #fff;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "AdapterMonoVF", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.33em;
  color: #000;
}

li, p, h1, h2, h3, h4, h5 {
}

section {
  padding: 3em;
  width: auto;
}

h1, h2, h3, h4 {
  font-size: 100%;
  font-weight: 800;
  margin: 0 0 0.5em 0;
}

h1 strong {
  font-weight: 500;
  font-style: normal;
}

h3,
.description {
  clear: both;
  float: left;
  width: 15%;
  margin: 0;
  padding: 2em 0 1em 0;
}

.description {
  margin-bottom: 1em;
  padding-right: 1em;
}

/* If a description was found before the previews, offset the previews to the
top to be aligned with the headline again */
.description + .previews {
  margin-top: -4em;
}

/* The link to the #top after the previews */
.top {
  clear: both;
  display: block;
  margin: 0;
}

.top a {
  padding: 0;
  text-decoration: none;
}

p {
  margin: 1em 0;
}

p.menu {
  margin: 1em 0 8em 0;
}

p.previews {
  float: left;
  margin: 0;
  margin-bottom: 8em;
  padding: 2em 0 0 0;
  width: 80%;
}

p.copyright {
  width: 100%;
  clear: both;
}

img {
  background: #eee;
  width: 100%;
  max-width: 1200px;
  border-radius: 4em;
  margin: 0 0 2em 0;
  padding: 0;
}

img:last-of-type {
  clear: both;
}

strong {
  font-weight: 700;
}

em {
  font-feature-settings: "ss07" 1;
  font-variation-settings: "slnt" -13;
}

ul {
  padding-left: 0;
}

a, a:visited {
  color: #222faa;
  text-decoration: underline;
  border-radius: 5px;
  padding: 0 0.2em;
  font-weight: 500;
}

a:hover {
  /* background-color: rgba(34, 47, 170, 0.05); */
  font-weight: 800;
  transition: 500ms ease;
}

/* Responsive */

@media (max-width: 1150px) {
  h3, p.previews {
    width: auto;
    float: none;
    clear: both;
    margin: 2em 0 0 0;
    padding: 0;
  }

  img {
    border-radius: 3em;
  }

  .description {
    width: 100%;
  }
}