<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    
    <title>{{ title }}</title>
    
    <meta name="description" content="{{ description }}" />
    <meta name="keywords" content="{{ site.keywords }}" />
    <meta name="author" content="{{ author }}" />

    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="{{ sharing | absolute_url }}" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:image" content="{{ sharing | absolute_url }}" />

    <link rel="stylesheet" href="{{ 'assets/styles.css' | relative_url }}">

    <link rel="me" href="https://taniachacana.com/">
    <link rel="me" href="https://twitter.com/taniachacana">
    
    <!-- analytics -->
    <script defer data-domain="taniachacana.com" src="https://plausible.io/js/plausible.js"></script>

    <!-- smooth scrolling -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
      // Add smooth scrolling to all links
      $("a").on('click', function(event) {
    
        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
          // Prevent default anchor click behavior
          event.preventDefault();
    
          // Store hash
          var hash = this.hash;
    
          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 800, function(){
    
            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
      });
    });
    </script>

</head>

<body>
  <section>
    {{ content }}
  </section>
</body>
</html>
